name: ref example
on: 
  push:
    tags:
      - "[0-9].[0-9].[0-9]"
jobs:
  display: 
    runs-on: ubuntu-latest
    steps:
      - name: Print Ref
        run: echo $GITHUB_REF
      - name: Print just branch/tag
        run: echo ${GITHUB_REF##*/}
      - name: new echo
        run: echo "This is a test:${GITHUB_REF##*/}"
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Get tag
        run: echo "TAGNAME=$(echo ${{GITHUB_REF##*/}})" >> $GITHUB_ENV
      - name: Echo tag
        run: echo $TAGNAME
      - uses: actions/checkout@v2
      - uses: kciter/aws-ecr-action@master
        with:
          access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID}}
          secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY}}
          account_id: ${{ secrets.AWS_ACCOUNT_ID}}
          repo: hello_world
          path: ./
          tags: ${TAGNAME},latest
          region: us-east-1
          create_repo: true
