name: API Triggered Workflow
on:
  workflow_dispatch
jobs:
  print:
    runs-on: ubuntu-latest
    steps:
      - name: Print Ref
        run: echo $GITHUB_REF
      - uses: actions/checkout@v2
      - name: Print hello file
        run: cat hello
        